<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="cadeira">

    <xacro:include filename="cadeira.urdf" />

    <xacro:include filename="gazebo_control.xacro" />

    <xacro:include filename="inertial_macros.xacro" />

    <xacro:include filename="colors.xacro" />

</robot>